@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}


.video-overlay-content { 
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20vh;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.video-overlay-content h1 ,h2 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.video-overlay-content h2{
  font-size: 4rem;
}

.video-overlay-content h1{
  font-size: 6rem;
}
